﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>

    <!-- build:process -->
    <title><%= title %></title>
    <!-- /build -->

    <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>
</head>
<body>
<div id="content"></div>
<div id="loader">Loading ...</div>
<div id="orientation"></div>
<script type="text/javascript">
    <!-- build:process -->
    var gameName = "<%= gameName %>.min.js";
    <!-- /build -->

    //This all here is for cache busting;
    function addScript(src, buster, callback) {
        var s = document.createElement('script');
        s.setAttribute('src', src + '?v=' + buster);
        if (typeof callback === 'function') {
            s.onload = callback;
        }
        document.body.appendChild(s);
    }

    addScript('version.js', Date.now(), function () {
        addScript(gameName, version, function () {
            /**
             * Here we create the game
             */
            new SoftGamesTest.Game();
        })
    })
</script>

</body>
</html>
